.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-dropdown {
  font-size: 12px; /* Adjust the font size */
  padding: 5px; /* Adjust the padding */
  width: 150px; /* Adjust the width */
}

.custom-dropdown .Dropdown-control {
  height: 30px; /* Adjust the height */
}

.custom-dropdown .Dropdown-menu {
  font-size: 12px; /* Adjust the font size of dropdown options */
}
